<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.nightmare"
    android:versionCode="1"
    android:versionName="1.0">
    <application
        android:usesNonSdkApi="true" />
    <overlay
        android:priority="600"
        android:targetPackage="android"
        android:isStatic="true" />
</manifest>
